
    </main>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/adminAssets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js" type="text/javascript"></script>
    <script src="/adminAssets/js/custom-chart.js" type="text/javascript"></script>
    <script src="/public/admin/adminAssets/css/main.css"></script>
    
    <script src="/js/productValidation.js"></script>

</body>

</html>