<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>JerseyHUB</title>

	<!-- favicon -->
	<!-- <link rel="/assets/img/company-logos/jerseyhub-high-resolution-logo-transparent (3).png" type="image/png" href=""> -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/company-logos/jerseyhub-high-resolution-logo-transparent (3).png">

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	
    <link rel="stylesheet" href="/assets/css/second.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

</head>

<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="index.html">
							<img src="/assets/img/company-logos/jerseyhub-high-resolution-logo-transparent (3).png" alt="" style="height: 60px; width: 200px;">
						</a>
					</div>
					<!-- logo -->

					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li class="current-list-item"><a href="/homepage">Home</a>
							
							</li>
							<li><a href="/shope">Shop</a>
							<li><a href="/about">About</a></li>
							<li><a href="/profile">Account</a>
								
							</li>
							
							<li><a href="/contact">Contact</a></li>
						
								
							</li>
							<li>
								<div class="header-icons">
									<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									<a href="/logout" style="color: red;"> Logout</a>
								</div>
							</li>
							
						</ul>
						<!-- <a href="">
							<button>
								jj
							</button>
						</a> -->
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- -->


<style>
	body{
		background-color: black;
	}
</style>
<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords" id="search_box" autocomplete="off">
						<div style="position: absolute; z-index: 999; width: 304px;" id="resultsContainer"></div>

						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
$(document).ready(function () {
$("#search_box").on("input", function () {
var value = $("#search_box").val().toLowerCase();
var resultsContainer = $("#resultsContainer");
resultsContainer.empty();

$.get('/searchProduct', { q: value }, (data) => {
data.forEach(element => {
   console.log(element);
   var resultDiv = $("<div>").css({
       'width':'33rem',
       'color': 'black',
       'background-color':'white',
       'padding': '7px',
       'border': '1px solid black',
       'text-align': 'center',
       'cursor': 'pointer'
   }).text(element.name);

   resultDiv.hover(
       function () {
           $(this).css({
               'background-color': 'black',
               'color': 'white'
           });
       },
       function () {
           $(this).css({
               'background-color': 'white',
               'color': 'black'
           });
       }
   );

   resultDiv.click(function () {
      
       window.location.href = '/product/?id=' + element._id;
   });
   resultsContainer.append(resultDiv);
});
});
});
 });
 </script>
