

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Contact</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	
    <link rel="stylesheet" href="/assets/css/second.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

</head>
<body>
	

<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>

	<section class="vh-100" style="background-color: black; ">
		<div class="container py-5 h-100">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-xl-10">
			  <div class="card" style="border-radius: 1rem; height: 500px;">
				<div class="row g-0">
				  <div class="col-md-6 col-lg-5 d-none d-md-block" style="height:100%;">
					<img src="/assets/img/OFS_Cruyff_Barcelona_1980_0.jpg"alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height: 85%;" />
				  </div>
				  <div class="col-md-6 col-lg-7 d-flex align-items-center">
					<div class="card-body p-4 p-lg-5 text-black">
	  
                        <form method="post" action="/userLogin" onsubmit="return userLoginValidate()">
	  
						<div class="d-flex align-items-center mb-3 pb-1">
						  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
						  <span class="h1 fw-bold mb-0">Login</span>
						</div>
	  
						<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
	  
						<div class="form-outline mb-4">
						  <input type="email" id="email" name="email"   placeholder="Your Email" class="form-control form-control-lg" />
						  <label class="form-label" for="form2Example17">Email address</label>
						  <p id="emailErr"></p>

						</div>
	  
						<div class="form-outline mb-4">
						  <input id="password" type="password" required="" " name="password" placeholder="Password" class="form-control form-control-lg" />
						  <label class="form-label" for="form2Example27">Password</label>
						</div>
						<div class="pt-1 mb-4">
							<button type="submit" class="btn btn-fill-out btn-block hover-up btn-dark btn-lg" name="login">Log in</button>
						</div>
						
	  
						<a class="small text-muted" href="#!">Forgot password?</a>
						<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/usercreate"
							style="color: #ff0000;">Register here</a></p>

						<a href="#!" class="small text-muted">Terms of use.</a>
						<a href="#!" class="small text-muted">Privacy policy</a>
					  </form>
	  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	  
</body>
	  <%- include('footerUser') %>